@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";

.home {
  display: flex;
  flex-wrap: nowrap;
  .map-view {
    width: 100%;
    height: 500px;
  }
  .homeNotify {
    flex: 2;
  }
}
